.profile__info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  min-width: 0;
  width: 100%;
  max-width: 336px;
  margin-top: 22px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 47px;
    box-sizing: border-box;
    text-align: center;
  }
}
