.page {
  display: grid;
  grid-template-rows: max-content auto max-content;
  grid-template-columns: minmax(320px, 880px);
  justify-content: center;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #000000;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .page {
    max-width: 100%;
  }
}
