.element__btn-like {
  display: block;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  border-radius: 0;
  border: none;
  background-image: url('../../../images/btn-like.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: all .35s ease;
  cursor: pointer;
}

.element__btn-like:hover {
  opacity: .5;
}
