.profile__btn-add {
  align-self: center;
  display: block;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url('../../../images/btn-add.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: all .35s ease;
  cursor: pointer;
  outline: none;
}

.profile__btn-add:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__btn-add {
    margin-top: 7px;
    background-size: 17px;
  }
}
